/* General CSS */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.hidden {
    display: none!important;
}

/* Homepage CSS */
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    font-size: 3rem;
}
.player-info h1 {
    text-align: center;
    /* width: 80%; */
    font-size: 6rem;
    padding: 20px 60px;
}

.player-info form label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invalid-field {
    position: relative;
    background-color: rgb(235, 79, 79);
}

input[type=text] {
    width: 40%;
    text-align: center;
    padding: 8px 12px;
    margin: 0px 8px;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    outline: none;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.page-btn {
    font-size: 6rem;
    font-weight: 700;
    margin: 15px 0px;
    padding: 10px 10px;
    border: 14px solid rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}
.page-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}





















/* Gamepage CSS */
.gamepage header {
    display: flex;
    justify-content: space-between;
    background-color: darkcyan;
}

.gamepage .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    background-color: lightgray;
}

.name {
    font-size: 2.5rem;
}

.health {
    font-size: 2.5rem;
}

.field {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 490px;
    background-image: url('../images/ScrSh2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
    animation: heroAnimation 1s ease-in-out infinite;
    /* background-color: bisque; */
}

.action {
    margin-bottom: 140px;
    /* background-color: violet; */
}

.game-btn {
    width: 120px;
    height: 40px;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    outline: none;
    cursor: pointer;
}

.action-btn {
    border-color: rgb(0, 123, 255);
    background-color: rgb(0, 123, 255);
    color: rgb(255, 255, 255);
}

.action-btn:hover {
    border-color: rgb(0, 105, 217);
    background-color: rgb(0, 105, 217);
}
.action-btn:disabled {
    color: graytext;
    cursor: not-allowed;
    border-color: rgb(96, 151, 209);
    background-color: rgb(96, 151, 209);
}

.monster {
    width: 200px;
    height: 200px;
    margin-bottom: 70px;
    position: relative;
    /* background-color: red; */
}

.monster-attacked {
    animation: squeezeMonster 1s ease-in-out 1;
}

.head {
    position: absolute;
    left: calc(50% - 40px);
    width: 90px;
    height: 90px;
    z-index: 3;
    animation: headAnimation 1s linear infinite;
    /* background-color: rgb(0, 255, 21); */
}

.body {
    position: absolute;
    top: 30%;
    left: calc(50% - 40px);
    width: 90px;
    height: 80px;
    z-index: 2;
    /* background-color: rgb(34, 42, 119); */
}

.legs {
    position: absolute;
    top: 65%;
    left: calc(50% - 38px);
    width: 100px;
    height: 100px;
    animation: legsAnimation 1s ease-in-out infinite;
    /* background-color: rgb(146, 121, 207); */
}

.weapon {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90px;
    height: 90px;
    animation: weaponAnimation 1s ease-in-out infinite;
    /* background-color: rgb(240, 93, 183); */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(133, 133, 133, 0.5);
}

.spells-modal-inner {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50%;
    border-radius: 3%;
    background-color: rgb(134, 134, 134);
    /* background-color: rgb(0, 0, 0); */
}

.close-btn-container {
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(73, 99, 99); */
}

.close-btn {
    text-align: center;
    width: 58px;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.spells-container {
    display: flex;
    height: calc(100% - 58px);
    /* background-color: rgb(59, 182, 182); */
}

.spell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* background-color: rgb(236, 183, 229); */
}

.attack-btn {
    border-color: rgb(231, 79, 79);
    background-color: rgb(231, 79, 79);
    color: rgb(255, 255, 255);
}

.attack-btn:hover {
    border-color: rgb(199, 67, 67);
    background-color: rgb(199, 67, 67);
}

.heal-btn {
    border-color: rgb(103, 219, 103);
    background-color: rgb(103, 219, 103);
    color: rgb(255, 255, 255);
}

.heal-btn:hover {
    border-color: rgb(92, 190, 92);
    background-color: rgb(92, 190, 92);
}















.task-modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.task-heading {
    text-align: center;
    /* padding: 10px; */
    font-size: 3rem;
}
.task-body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(103, 219, 103); */
}
.answer-btn-container {
    text-align: center;
    /* background-color: rgb(68, 145, 168); */
}
.answer-btn {
    padding: 10px 40px;
    font-size: 3rem;
    border-width: 10px;
}
















.slowly-disappear {
    transition: opacity 1s;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}















.result-modal {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.result-modal-buttons-container {
    display: flex;
}

.game-homepage-btn, .game-play-again-btn {
    margin: 0px 30px;
    padding: 10px 40px;
    font-size: 3rem;
    border-width: 10px;
}

.result-modal p {
    font-size: 3rem;
    margin: 30px 0px;
}






















/* Scoreboard CSS */
.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}
.homepage-btn {
    font-size: 4rem;
    margin: 0px 0px 40px 0px;
    border-width: 10px;
}
table {
    text-align: center;
    border-collapse: collapse;
    font-size: 3rem;
}
table th, table td {
    padding: 5px 10px;
    border: 1px solid black;
}
table th {
    background-color: rgb(167, 167, 167);
}
table tr:nth-child(2n + 1) {
    background-color: rgb(233, 233, 233);
}

/* Basic Arithmetic CSS */
.multiplier, .operation, .task-input {
    margin: 3px;
    padding: 12px;
    font-size: 10rem;
    font-weight: 700;
}
.operation {
    font-weight: 400;
}
.task-input {
    text-align: center;
    width: 230px;
    outline: black;
    border: 2px solid black;
}
.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loader {
    border: 20px solid #f3f3f3;
    border-radius: 50%;
    border-top: 20px solid #000000;
    width: 100px;
    height: 100px;
    animation: spin 1.4s linear infinite;
}

/* Animations */
@keyframes headAnimation {
    0% {
        top: 0px;
    }
    25% {
        top: 3px;
    }
    50% {
        left: calc(50% - 37px);
    }
    85% {
        /* top: 0px; */
        /* left: calc(50% - 10px); */
    }
    100% {
        top: 0px;
        left: calc(50% - 39px);
    }
}

@keyframes weaponAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes legsAnimation {
    50% {
        transform: rotate(1deg);
    }
}

@keyframes heroAnimation {
    50% {
        transform: rotate(-1deg);
    }
}

@keyframes squeezeMonster {
    50% {
        transform: scaleY(0.1);
        transform-origin: bottom;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



/* page-btn и game-btn - какая-то ерунда */
/* Hero name на главной странице остаётся красным полсе захода => выхода в Scoreboard */
/* AnswerBtn disabled можно изменять стиль */
