/* Task modal CSS */
.task-modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 90%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.task-heading {
    text-align: center;
    font-size: 3rem;
}
.task-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-btn-container {
    text-align: center;
}
.answer-btn {
    padding: 10px 40px;
    font-size: 3rem;
    border-width: 10px;
}
.slowly-disappear {
    transition: opacity 1s;
}
.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
